<!DOCTYPE html>

{% extends 'base.html' %}



{% block main %}
<html lang="en">

<body>

<div class="w3-container w3-white">




<div class= "inner-content">
    <table id="football_data" class="display compact" style="width:100%">
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Nation</th>
                        <th>Pos</th>
                        <th>Squad</th>
                        <th>Comp</th>
                        <th>Age</th>
                        <th>Born</th>
                        <th>Matches Played</th>
                        <th>Starts</th>
                        <th>Minutes Played</th>
                        <th>90s Played</th>
                        <th>Goals</th>
                        <th>Total Shots</th>
                        <th>Shots On Target</th>
                        <th>Shots On Target (%)</th>
                        <th>Goals Per Shot</th>
                        <th>Goals Per Shot On Target</th>
                        <th>Average Distance of Total Shots</th>
                        <th>Shots From Freekicks</th>
                        <th>Penalty Kicks Made</th>
                        <th>Penalty Kicks Attempted</th>
                        <th>xG</th>
                        <th>npxG</th>
                        <th>npxG Per Shot</th>
                        <th>Goals - xG</th>
                        <th>npG - npxG</th>
                        <th>Passes Completed</th>
                        <th>Passes Attempted</th>
                        <th>Pass Completion (%)</th>
                        <th>Total Dist of Comp passes</th>
                        <th>Total Dist of Prog Comp passes</th>
                        <th>Short Passes Completed</th>
                        <th>Short Passes Attempted</th>
                        <th>Short Pass Completion (%)</th>
                        <th>Medium Passes Completed</th>
                        <th>Medium Passes Attempted</th>
                        <th>Medium Pass Completion (%)</th>
                        <th>Long Passes Completed</th>
                        <th>Long Passes Attempted</th>
                        <th>Long Pass Completion (%)</th>
                        <th>Assists</th>
                        <th>xA</th>
                        <th>A-xA</th>
                        <th>Key Passes</th>
                        <th>Completed Passes (1/3 of pitch)</th>
                        <th>Completed Passes (Penalty Area)</th>
                        <th>Completed Crosses (Penalty Area)</th>
                        <th>Progressive Passes</th>
                        <th>Pass Types (Live)</th>
                        <th>Pass Types (Dead)</th>
                        <th>Pass Types (Free Kicks)</th>
                        <th>Through Balls</th>
                        <th>Passes Under Pressure</th>
                        <th>Switches</th>
                        <th>Crosses</th>
                        <th>Corner Kicks (Total)</th>
                        <th>Corner Kicks (In)</th>
                        <th>Corner Kicks (Out)</th>
                        <th>Corner Kicks (Str)</th>
                        <th>Ground Passes</th>
                        <th>Low Passes</th>
                        <th>High Passes</th>
                        <th>Passes Attempted (Left Foot)</th>
                        <th>Passes Attempted (Right Foot)</th>
                        <th>Passes Attempted (Head)</th>
                        <th>Throw Ins Taken</th>
                        <th>Passes Attempted (Other)</th>
                        <th>Passes Offside</th>
                        <th>Passes Out of bounds</th>
                        <th>Passes Intercepted</th>
                        <th>Passes Blocked</th>
{#                        <th>Shot Creating Actions (Total)</th>#}
{#                        <th>Shot Creating Actions (Live Passes)</th>#}
{#                        <th>Shot Creating Actions (Dead Passes)</th>#}
{#                        <th>Shot Creating Actions (Dribbles)</th>#}
{#                        <th>Shot Creating Actions (Shots)</th>#}
{#                        <th>Shot Creating Actions (Fouls)</th>#}
{#                        <th>Shot Creating Actions (Def Act)</th>#}
{#                        <th>Goal Creating Actions (Total)</th>#}
{#                        <th>Goal Creating Actions (Live Passes)</th>#}
{#                        <th>Goal Creating Actions (Dead Passes)</th>#}
{#                        <th>Goal Creating Actions (Dribbles)</th>#}
{#                        <th>Goal Creating Actions (Shots)</th>#}
{#                        <th>Goal Creating Actions (Fouls)</th>#}
{#                        <th>Goal Creating Actions (Def Act)</th>#}
{#                        <th>Touches (Total)</th>#}
{#                        <th>Touches (Def Pen)</th>#}
{#                        <th>Touches (Def 3rd)</th>#}
{#                        <th>Touches (Mid 3rd)</th>#}
{#                        <th>Touches (Att 3rd)</th>#}
{#                        <th>Touches (Att Pen)</th>#}
{#                        <th>Touches (Live)</th>#}
{#                        <th>Successful Dribbles</th>#}
{#                        <th>Attempted Dribbles</th>#}
{#                        <th>Successful Dribbles (%)</th>#}
{#                        <th>Players Dribbled Past</th>#}
{#                        <th>Nutmegs</th>#}
{#                        <th>Carries</th>#}
{#                        <th>Total Distance Carried</th>#}
{#                        <th>Total Prog. Distance Carried</th>#}
{#                        <th>Prog. Carries</th>#}
{#                        <th>Carries (1/3 of pitch)</th>#}
{#                        <th>Carries (Penalty Area)</th>#}
{#                        <th>Miss-controls</th>#}
{#                        <th>Dispossessed</th>#}
{#                        <th>Pass Target</th>#}
{#                        <th>Receptions</th>#}
{#                        <th>Reception (%)</th>#}
{#                        <th>Prog. Receptions</th>#}
                      </tr>
                    </thead>
                    <tbody>
                    {% for data in football_data %}
                      <tr id="row">
                      <td>{{data[0]}}</td>
                      <td>{{data[1]}}</td>
                      <td>{{data[2]}}</td>
                      <td>{{data[3]}}</td>
                      <td>{{data[4]}}</td>
                      <td>{{data[5]}}</td>
                      <td>{{data[6]}}</td>
                      <td>{{data[7]}}</td>
                      <td>{{data[8]}}</td>
                      <td>{{data[9]}}</td>
                      <td>{{data[10]}}</td>
                      <td>{{data[11]}}</td>
                      <td>{{data[12]}}</td>
                      <td>{{data[13]}}</td>
                      <td>{{data[14]}}</td>
                      <td>{{data[17]}}</td>
                      <td>{{data[18]}}</td>
                      <td>{{data[19]}}</td>
                      <td>{{data[20]}}</td>
                      <td>{{data[21]}}</td>
                      <td>{{data[22]}}</td>
                      <td>{{data[23]}}</td>
                      <td>{{data[24]}}</td>
                      <td>{{data[25]}}</td>
                      <td>{{data[26]}}</td>
                      <td>{{data[27]}}</td>
                      <td>{{data[28]}}</td>
                      <td>{{data[29]}}</td>
                      <td>{{data[30]}}</td>
                      <td>{{data[31]}}</td>
                      <td>{{data[32]}}</td>
                      <td>{{data[33]}}</td>
                      <td>{{data[34]}}</td>
                      <td>{{data[35]}}</td>
                      <td>{{data[36]}}</td>
                      <td>{{data[37]}}</td>
                      <td>{{data[38]}}</td>
                      <td>{{data[39]}}</td>
                      <td>{{data[40]}}</td>
                      <td>{{data[41]}}</td>
                      <td>{{data[42]}}</td>
                      <td>{{data[43]}}</td>
                      <td>{{data[44]}}</td>
                      <td>{{data[45]}}</td>
                      <td>{{data[46]}}</td>
                      <td>{{data[47]}}</td>
                      <td>{{data[48]}}</td>
                      <td>{{data[49]}}</td>
                      <td>{{data[51]}}</td>
                      <td>{{data[52]}}</td>
                      <td>{{data[53]}}</td>
                      <td>{{data[54]}}</td>
                      <td>{{data[55]}}</td>
                      <td>{{data[56]}}</td>
                      <td>{{data[57]}}</td>
                      <td>{{data[58]}}</td>
                      <td>{{data[59]}}</td>
                      <td>{{data[60]}}</td>
                      <td>{{data[61]}}</td>
                      <td>{{data[62]}}</td>
                      <td>{{data[63]}}</td>
                      <td>{{data[64]}}</td>
                      <td>{{data[65]}}</td>
                      <td>{{data[66]}}</td>
                      <td>{{data[67]}}</td>
                      <td>{{data[68]}}</td>
                      <td>{{data[69]}}</td>
                      <td>{{data[71]}}</td>
                      <td>{{data[72]}}</td>
                      <td>{{data[73]}}</td>
                      <td>{{data[74]}}</td>
{#                      <td>{{data[75]}}</td>#}
{#                      <td>{{data[77]}}</td>#}
{#                      <td>{{data[78]}}</td>#}
{#                      <td>{{data[79]}}</td>#}
{#                      <td>{{data[80]}}</td>#}
{#                      <td>{{data[81]}}</td>#}
{#                      <td>{{data[82]}}</td>#}
{#                      <td>{{data[83]}}</td>#}
{#                      <td>{{data[85]}}</td>#}
{#                      <td>{{data[86]}}</td>#}
{#                      <td>{{data[87]}}</td>#}
{#                      <td>{{data[88]}}</td>#}
{#                      <td>{{data[89]}}</td>#}
{#                      <td>{{data[90]}}</td>#}
{#                      <td>{{data[91]}}</td>#}
{#                      <td>{{data[92]}}</td>#}
{#                      <td>{{data[93]}}</td>#}
{#                      <td>{{data[94]}}</td>#}
{#                      <td>{{data[95]}}</td>#}
{#                      <td>{{data[96]}}</td>#}
{#                      <td>{{data[97]}}</td>#}
{#                      <td>{{data[98]}}</td>#}
{#                      <td>{{data[99]}}</td>#}
{#                      <td>{{data[100]}}</td>#}
{#                      <td>{{data[101]}}</td>#}
{#                      <td>{{data[102]}}</td>#}
{#                      <td>{{data[103]}}</td>#}
{#                      <td>{{data[104]}}</td>#}
{#                      <td>{{data[105]}}</td>#}
{#                      <td>{{data[106]}}</td>#}
{#                      <td>{{data[107]}}</td>#}
{#                      <td>{{data[108]}}</td>#}
{#                      <td>{{data[109]}}</td>#}
{#                      <td>{{data[110]}}</td>#}
{#                      <td>{{data[111]}}</td>#}
{#                      <td>{{data[112]}}</td>#}
{#                      <td>{{data[113]}}</td>#}
{#                      <td>{{data[114]}}</td>#}
                      </tr>
                    {% endfor %}
                    </tbody>
</table>
</div>
</div>


</body>
</html>

{% endblock %}